<div class="container-fluid" style="padding-top: 100px">
  <div
    class="row row-center">

    <!--LEFT-->
    <div class="split left gradient-bg" name="left">
      <div class="centered">
        <a
          href="./../../../assets/Kritiketan Sharma Resume.pdf"
          download="Kritiketan_Sharma_Resume.pdf"
          class="icon icon-space">
          <img src="./assets/favicon.png" />
        </a>
        <h1 class="heading-text-white">Kritiketan Sharma</h1>
        <h2 class="sub-heading-text highlight-text mt-3">Software Engineer</h2>
        <h2 class="body-text highlight-text mt-3" style="color: #f4f4f4">
          📍 Melbourne
        </h2>
      </div>
    </div>
    <!--LEFT-->

    <!--RIGHT-->
    <div class="split right">

      <!--Mobile-->
      <div class="container-fluid d-md-none">
        <div class="row mb-1 row-center">
          <a
          href="./../../../assets/Kritiketan Sharma Resume.pdf"
          download="Kritiketan_Sharma_Resume.pdf"
          class="icon icon-space">
          <img src="./assets/favicon.png" width="28px" height="28px"/>
        </a>
       </div>
        <div class="row mb-1 row-center">
          
           <h1 class="heading-text text-center">Kritiketan Sharma</h1>
        </div>
        <div class="row mb-4 row-center">
          <div class="col-md-12">
            <hr style="color: lightgoldenrodyellow;">
        </div>
       </div>
      </div>
      <!--Mobile-->


      <div class="container-fluid">

        <!--ROW-->
        <span name="r1">
          <div class="row mb-4 row-center">
              <div class="sub-heading-text highlight-text">
                Socials
              </div>
              
          </div>
        <div class="row m-0 row-center">
          
          <div class="col-md-2 apps-icon">
            <a
              href="https://www.linkedin.com/in/kritiketan-sharma-2133b5a8/"
              class="icon"
              style="color: #2d76b0"
            >
              <i class="fab fa-linkedin" style="font-size: 40px;"></i> <br>
              <p style="font-size: 12px;">Linkedin</p>
            </a>
          </div>
          
          <div class="col-md-2 apps-icon hide-on-mobile">
            <a
              href="https://kritiketan.medium.com"
              class="icon"
              style="color: var(--black-primary)">
              <i class="fab fa-medium" style="font-size: 40px;"></i>
              <p style="font-size: 12px;">Medium</p>
            </a>
          </div>
          <div class="col-md-2 apps-icon">
            <a href="https://wa.link/tj8ukb" target="_blank" class="icon" style="color:green"> 
                <i class="fab fa-whatsapp" style="font-size: 40px;"></i> 
                <p style="font-size: 12px;">Whatsapp</p>
            </a>
          </div>
          <div class="col-md-2 apps-icon">
            <a href="./../../../assets/Kritiketan Sharma Resume.pdf" download="Kritiketan_Sharma_Resume.pdf" class="icon">
                <i class="fas fa-download" style="font-size: 40px;"></i>
                <p style="font-size: 12px;">Resume</p>
            </a>
          </div>
        </div>
      </span>
      <!--ROW-->
      <span name="r2">
        <div class="row row-center">
            <div class="col-md-12">
                <hr style="color: lightgoldenrodyellow;">
            </div>
            
        </div>
        <div class="row mb-4" style="justify-content: center;
          align-items: center;
          text-align: center;">
              <div class="sub-heading-text highlight-text">
                Designing
              </div>
              
          </div>
        <div
          class="row m-0"
          style="
            justify-content: center;
            align-items: center;
            text-align: center;">
            
              <div class="col-md-2 apps-icon highlight-text" [routerLink]="['/min']">
                <p>Minimal</p>
              </div>
              <div class="col-md-2 apps-icon highlight-text" [routerLink]="['/cards']">
                <p>Cards</p>
              </div>
        </div>
        </span>
        <!--ROW-->
        <span name="r3">
        <div class="row row-center">
            <div class="col-md-12">
                <hr style="color: lightgoldenrodyellow;">
            </div>
            
        </div>
        <div class="row mb-4" style="justify-content: center;
          align-items: center;
          text-align: center;">
              <div class="sub-heading-text highlight-text">
                Projects
              </div>
              
          </div>
        <div
          class="row m-0"
          style="
            justify-content: center;
            align-items: center;
            text-align: center;">
            
              <div class="col-md-2 apps-icon highlight-text" >
                <p>My story *coming soon*</p>
              </div>

              <div class="col-md-2 apps-icon highlight-text">
                <p>🔥 Chat app *coming soon*</p>
              </div>
        </div>
        </span>

      </div>
    </div>
    <!--RIGHT-->

  </div>
</div>
