<div class="container-fluid" style="padding-top: 100px">
  <div
    class="row"
    style="justify-content: center; align-items: center; text-align: center">
    <div class="split left" id="company">
      <div class="centered">
        <a
          href="./../../../assets/Kritiketan Sharma Resume.pdf"
          download="Kritiketan_Sharma_Resume.pdf"
          class="icon icon-space">
          <img src="./assets/favicon.png" />
        </a>
        <h1 class="heading-text-white">Kritiketan Sharma</h1>
        <h2 class="sub-heading-text highlight-text mt-3">Software Engineer</h2>
        <h2 class="body-text highlight-text mt-3" style="color: #f4f4f4">
          📍 Melbourne
        </h2>
      </div>
    </div>

    <div class="split right">
      <div class="container-fluid">
          <div class="row mb-4" style="justify-content: center;
          align-items: center;
          text-align: center;">
              <div class="sub-heading-text highlight-text">
                Socials
              </div>
              
          </div>
        <div
          class="row m-0"
          style="
            justify-content: center;
            align-items: center;
            text-align: center;">
          <div class="col-md-2 apps-icon">
            <a
              href="https://www.linkedin.com/in/kritiketan-sharma-2133b5a8/"
              class="icon"
              style="color: #2d76b0"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="col-md-2 apps-icon">
            <a
              href="https://kritiketan.medium.com"
              class="icon"
              style="color: var(--black-primary)">
              <i class="fab fa-medium"></i>
            </a>
          </div>
          <div class="col-md-2 apps-icon">
            <a href="https://wa.link/tj8ukb" target="_blank" class="icon" style="color:green"> 
                <i class="fab fa-whatsapp"></i> 
            </a>
          </div>
          <div class="col-md-2 apps-icon">
            <a href="./../../../assets/Kritiketan Sharma Resume.pdf" download="Kritiketan_Sharma_Resume.pdf" class="icon">
                <i class="fas fa-download"></i>
            </a>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="
            justify-content: center;
            align-items: center;
            text-align: center;">
                <hr style="color: lightgoldenrodyellow;">
            </div>
            
        </div>
        <div class="row mb-4" style="justify-content: center;
          align-items: center;
          text-align: center;">
              <div class="sub-heading-text highlight-text">
                Apps
              </div>
              
          </div>
        <div
          class="row m-0"
          style="
            justify-content: center;
            align-items: center;
            text-align: center;">
            
              <div class="col-md-2 apps-icon highlight-text">
                <p>My story</p>
              </div>
              <div class="col-md-2 apps-icon highlight-text">
                <p>Tinder Everything</p>
              </div>
              <div class="col-md-2 apps-icon highlight-text">
                <p> !!Insert new app!! </p>
              </div>
              <div class="col-md-2 apps-icon highlight-text">
                <p> !!Insert new app!! </p>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
