<nav class="navbar navbar-light navbar-expand-md py-4 fixed-top scrolled" id="mainNav">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Forte</a>
        <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ml-auto m-2">
                <li class="nav-item">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/signup']" class="nav-link" style="color: #752CEB;">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>