<div class="container-fluid" style="padding-top: 100px;">

    <div class="row" style="justify-content: center;align-items: center;text-align: center;">
        
        <div class="split left"  id="company">
            <div class="heading-text">
                Company 🏙
            </div>
            
            <div class="body-text highlight-text mt-4">
                Make a list
            </div>
            
            <!-- <div class="body-text" *ngFor="let inp of inputList">
                <input type="text" [(ngModel)]="inp.value">
            </div> -->

        </div>

        <div class="split right light-grady">
            <div class="heading-text">
                Customers 😎
            </div>
            
        </div>


    </div>
</div>