<div style="position: absolute; height: 10px;width:100%; ">
    <div id="particles-js"></div>
</div>
<div class="container">
    <app-headernav></app-headernav>
        <section class="row align-items-center justify-content-center portal-spacing">
            <div class="circle-image shadow">
                <img src="../../../assets/images/astro.png" width="90px" height="90px" alt="" srcset="">
            </div>
        </section>

        <section class="row align-items-center justify-content-center mt-5">
            <h1 class="highlight-text-no-u">
                {{user.firstName}}  {{user.lastName}} 
            </h1>
        </section>

        <div class="row align-items-center justify-content-center mt-3">
            <p class="sub-highlight-text-no-u">
                {{user.bio}}
            </p>
        </div>   
        
        
            
</div>
