<div class="container portal-spacing">
    <div class="row gen-space">
        <h1 class="heading-text">
            👋🏼 Hello 
          </h1>
    </div>
    <div class="row gen-space mt-4">
        <p class="sub-heading-text">
        My name is <span class="highlight-text"> Kritiketan</span>, I'm a
        </p>
    </div>
    <div class="row gen-space" style="margin-top: 0;">
        <p class="sub-heading-text">
        <span class="highlight-text"> Software Engineer</span> based in <span class="highlight-text">Melbourne 🦘</span> 
        </p>
    </div>

    <div class="row gen-space mt-4">
            <a href="mailto:kritiketan.sharma@outlook.com" target="_blank"> 
                <i class="fas fa-paper-plane"></i> kritiketan.sharma@outlook.com</a>
    </div>

    <div class="row gen-space mt-4">
        
        <a href="https://www.linkedin.com/in/kritiketan-sharma-2133b5a8/" class="icon" style="color: #2d76b0;">
            <i class="fab fa-linkedin"></i>
        </a>
        
        <a href="https://kritiketan.medium.com" class="icon icon-space" style="color:var(--black-primary);">
            <i class="fab fa-medium"></i>
        </a>

        <a href="https://wa.link/tj8ukb" target="_blank" class="icon icon-space" style="color:green"> 
            <i class="fab fa-whatsapp"></i> 
        </a>

        <a href="./../../../assets/Kritiketan Sharma Resume.pdf" download="Kritiketan_Sharma_Resume.pdf" class="icon icon-space" style="color: var(--text-color-primary)">
            <i class="far fa-file-alt"></i>
        </a>
    </div>

    <div class="row gen-space mt-5 pt-4">
        <h1 class="sub-heading-text highlight-text">
            🚀On this page
            
        </h1>
    </div>


    <div class="row gen-space mt-3">
        <div class="col-md-3 body-text body-header-space">
            👨🏻‍💻<a href="#work">Work Experience</a> 
        </div>
        <div class="col-md-2 body-text body-header-space">
            🎓<a href="#education">Education</a> 
        </div>
        <div class="col-md-3 body-text body-header-space hide-on-mobile">
            💻<a href="#tech">Technologies</a> 
        </div>

    </div>
    <section id="work">
    <div class="row gen-space mt-4">
        <div class="sub-heading-text body-header-space highlight-text">
            👨🏻‍💻Work Experience
        </div>
    </div>

    
    <section id="fieldd">
    <div class="row gen-space mt-2">
        <div class="body-text body-header-space highlight-text">
            Product Development Engineer @ <a href="https://fieldd.co" target="_blank">Fieldd</a>
        </div>
    </div>
    <div class="row gen-space body-text">
        🗓September 2019 to Present
    </div>


    <div class="row gen-space mt-1">
        <div class="col-md-10">
        <ul>
            <li>
                <p class="body-text mt-1">
                    👉🏼Designed and developed cutting-edge features for web and mobile applications.
                </p>
            </li>
            <li>
                <p class="body-text mt-3">
                    👉🏼Effectively coded critical sections of the product, including payment processing,
                    platform billing, and server availability.
                </p>
            </li>
            <li>
                <p class="body-text mt-3">
                    👉🏼Successfully set up and deployed web applications to AWS and mobile applications to respective app stores.
                </p>
            </li>
            <li>
                <p class="body-text mt-3">
                    👉🏼Developed and presented findings and solutions to audiences including senior executives, board members, and stakeholders.
                </p>
            </li>
        </ul>
    </div>
    </div>
    </section> 
    
    <section id="monocept">
        <div class="row gen-space mt-2">
            <div class="body-text body-header-space highlight-text">
                Senior Software Engineer @ <a href="https://monocept.com/" target="_blank">Monocept</a>
            </div>
        </div>
        <div class="row gen-space body-text">
            🗓February 2018 to May 2019
        </div>
    
        <div class="row gen-space mt-1">
            <div class="col-md-10">
                <ul>
                    <li>
                        <p class="body-text mt-1">
                            👉🏼Effectively conducted the digital transformation for legacy
                            insurance processing systems to modern web applications.
                        </p>
                    </li>
                    <li>
                        <p class="body-text mt-3">
                            👉🏼Implemented and updated application modules to improve the
                            performance of the system and enhance user experience.
                        </p>
                    </li>
                    <li>
                        <p class="body-text mt-3">
                            👉🏼Successfully worked at an independent level, while also serving as
                            an effective and enthusiastic collaborator
                        </p>
                    </li>
                    <li>
                        <p class="body-text mt-3">
                            👉🏼Worked to continually meet the expectations of stakeholders and
                            users
                        </p>
                    </li>
                </ul>
            </div>
            
        </div>
        </section> 

        <section id="infosys">
            <div class="row gen-space mt-2">
                <div class="body-text body-header-space highlight-text">
                    System Engineer @ <a href="https://www.infosys.com/" target="_blank">Infosys</a>
                </div>
            </div>
            <div class="row gen-space body-text">
                🗓January 2016 to January 2018
            </div>
        
            <div class="row gen-space mt-1">
                <div class="col-md-10">
                <ul>
                    <li>
                        <p class="body-text mt-1">
                            👉🏼Effectively coded software changes and alterations based on
                            specific design specifications.
                        </p>
                    </li>
                    <li>
                        <p class="body-text mt-3">
                            👉🏼Performed automated testing tasks and developed complex
                            features routinely
                        </p>
                    </li>
                    <li>
                        <p class="body-text mt-3">
                            👉🏼Brought forth extensive experience using and developing APIs
                        </p>
                    </li>
                </ul>
            </div>
            </div>
            </section> 
        </section>
    <!--Education-->
    <section id="education">
        <div class="row gen-space mt-4">
            <div class="sub-heading-text body-header-space highlight-text">
                🎓Education
            </div>
        </div>
        <section id="masters">
            <div class="row gen-space mt-2">
                <div class="body-text body-header-space highlight-text">
                    Master of Business Analytics @ <a href="https://www.deakin.edu.au/" target="_blank">Deakin University, Melbourne</a>
                </div>
            </div>
            <div class="row gen-space body-text">
                July 2019 to July 2021
            </div>
        </section>

        <section id="bach">
            <div class="row gen-space mt-2">
                <div class="body-text body-header-space highlight-text">
                    Bachelor of Technology (B Tech.), Computer Science @ <a href="https://www.upes.ac.in/" target="_blank">UPES, Dehradun</a>
                </div>
            </div>
            <div class="row gen-space body-text">
                July 2019 to July 2021
            </div>
        </section>
    </section>

    <!--Technologies-->
    <section id="tech" class="hide-on-mobile">
        <div class="row gen-space mt-4">
            <div class="sub-heading-text body-header-space highlight-text">
                💻Technologies
            </div>
        </div>

        <div class="row gen-space mt-4">
            
            <div class="col-md-3">
                <i class="fab fa-js-square icon-big" style="color: #EFD81D;"></i>
            </div>
            <div class="col-md-3">
                <i class="fab fa-angular icon-big" style="color: #BD0E2C;"></i>
            </div>
            <div class="col-md-3">
                <i class="fab fa-node icon-big" style="color: #313131;"></i>
            </div>
            <div class="col-md-3">
                <i class="fab fa-html5 icon-big" style="color: #E44D27;"></i>
            </div>
        </div>

        <div class="row gen-space mt-1">
            <div class="col-md-3">
                <i class="fab fa-aws icon-big" style="color: #232F3E;"></i>
            </div>
            <div class="col-md-3">
                <i class="fab fa-css3-alt icon-big" style="color: #266BDD;"></i>
            </div>
            <div class="col-md-3">
                <i class="fab fa-python icon-big" style="color: #232F3E;"></i>
            </div>
            <div class="col-md-3">
                <img height="80px" width="120px" src="../../../assets/MongoDB-Logo.png">
            </div>
        </div>
    </section>
</div>

<div class="row mt-5" style="justify-content:center;background-color: lightgoldenrodyellow">
    <p>
        Powered by <span class="highlight-text" style="color: var(--text-color-primary);">Kittu</span> 
    </p>  
</div>

