<div class="split left">
    <div class="centered">
        <a href="./../../../assets/Kritiketan Sharma Resume.pdf" download="Kritiketan_Sharma_Resume.pdf" class="icon icon-space">
            <img src="./assets/favicon.png">
        </a>
      <h1 class="heading-text-white">
        Kritiketan Sharma
      </h1>
      <h2 class="sub-heading-text highlight-text mt-3">
        Software Engineer
      </h2>
      <h2 class="body-text highlight-text mt-3" style="color: #F4F4F4;">
        📍 Melbourne
      </h2>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
        <div style="padding: 25px;">
            <a href="https://www.linkedin.com/in/kritiketan-sharma-2133b5a8/" class="icon" style="text-decoration: none;color: #190B3D;">
                🔗 Linkedin
            </a>
        </div>
         <div style="padding: 25px;">
            <a href="https://kritiketan.medium.com" class="icon" style="text-decoration: none;color: #190B3D;">
                🔗 Medium
            </a>
         </div>
         <div style="padding: 25px;">
            <a href="https://wa.link/tj8ukb" target="_blank"  class="icon" style="text-decoration: none;color: #190B3D;">
                🔗 Whatsapp
            </a>
         </div>
         <div style="padding: 25px;">
            <a href="./../../../assets/Kritiketan Sharma Resume.pdf" download="Kritiketan_Sharma_Resume.pdf" class="icon" style="text-decoration: none;color: #190B3D;">
                🔗 Resume
            </a>
         </div>
        
    </div>
  </div>