<div class="header-band">
    <p class="row-center highlight-text mt-2"> 
        <img src="./assets/favicon.png" width="38px" height="38px"/>
        
    </p> 
</div>
<div class="container-fluid centered" style="padding-top: 100px" *ngIf="!isLoggedin">

    <section class="row row-center" name="loginSection">
        <div>
            <button class="btn btn-primary border" (click)="signinWithGoogle()">
                Login with google
            </button>
        </div>
    </section>

   
</div>

<div class="container-fluid"  style="padding-top: 50px;justify-content: center;align-items: center;" *ngIf="isLoggedin">
    
    <section id="userProfile" class="row row-center">
        <div class='mt-2'>
            <p>
                <img class='logo-img' src="{{this.user.photoURL}}" alt="user-image">
            </p>
            <p class="highlight-text mt-1">{{this.user ? this.user.displayName : ''}}</p>
            <p>{{this.user ? this.user.email : ''}}</p>
            <button class="btn btn-primary border mt-2" (click)="signOut()">Sign out</button>
        </div>
    </section>

    <div class="row row-center">
        <div class="col-md-4">
            <hr style="color: lightgoldenrodyellow;">
        </div>
        
    </div>

    <div class="row row-center mt-3 highlight-text">
        Lets get to know you:
    </div>

    <div >
        <div class="row row-center mt-3" *ngFor="let item of questions">
             <p class='sub-heading-text highlight-text'>{{item.question}}</p> 
        </div>
    </div>
    

</div>