<div class="container" style="margin-top: 50px;">

    <div class="row row-center">
        <div class="col-md-3">
            <p class="sub-heading-text highlight-text mt-1"> Tech Stack</p> 
        </div>
    </div>

    <div class="row row-center mt-4" id="main">

        <div class="col-md-3" id="frontEnd">
            <p class="highlight-text"> Front End</p>
            <div class="row row-center">
                <div class="col-md-4">
                    Javascript (Angular & ReactJS)
                </div>
                <div class="col-md-4">
                    HTML5
                </div>
                <div class="col-md-4">
                    CSS
                </div>
            </div>
            
        </div>

        <div class="col-md-3" id="backend">
            <p class="highlight-text"> Back End</p>
            <div class="row row-center">
                <div class="col-md-4">
                    NodeJS (Express)
                </div>
                <div class="col-md-4">
                    Java (Spring)
                </div>
            </div>
        </div>

        <div class="col-md-3" id="database">
            <p class="highlight-text">Database</p>
            <div class="row row-center">
                <div class="col-md-4">
                    MySQL
                </div>
                <div class="col-md-4">
                    MongoDB
                </div>
            </div>
        </div>

    </div>

    <div class="row row-center mt-4" id="AWS">
        <div class="col-md-4 tag" style="color: darkcyan;">
            AWS
        </div>
    </div>

    <div class="row row-center mt-4" id="OS">
        <div class="col-md-4 tag" style="color: darkcyan;">
            Windows, Mac and Ubuntu
        </div>
    </div>



</div>