/* You can add global styles to this file, and also import other style files */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
Temperary color palette
light to dark:
#F0E6FA
#3A159B
#752CEB
#7C749C
#E9E5EE  Shae of white
#190B3D Use instead of black
*/
:root{
    --white-primary:#F4F4FC;
    --background-grey: #F5F5F8;
    --text-color-primary:#752CEB;
    --text-color-secondary:#4c2097;
    --black-primary:#190B3D;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-grey);
    color: var(--black-primary);
}

/*Top right bottom left*/
.portal-spacing {
    
    padding: 180px 100px 0 100px;
}

.gen-space{
    margin-top: 5px;
    padding: 5px;
    justify-content: left;
}

.heading-text{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 600;
}
.heading-text-white{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #F4F4FC;
}

.sub-heading-text{
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.highlight-text {
    font-weight: 600;
}

.body-text{
    font-size: 18px;
    text-decoration: none;
}

.icon{
    font-size: 28px;
    text-decoration: none;
}
.icon-big{
    font-size: 80px;
    text-decoration: none;
}
.icon.icon-space{
    margin-left: 20px;
}

.body-header-space{
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.logo-img{
    width: 25px;
    height: 25px;
}

@media(max-width:767px){
    .portal-spacing {
        padding: 20px;
        margin-top: 100px;
        padding-top: 0px;
    }
    .heading-text{
        font-size: 18px;
    }
    .sub-heading-text{
        font-size: 16px;
    }
    .body-text{
        font-size: 14px;
    }
    .hide-on-mobile{
        display: none;
    }
}


.circle-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 20px .05px rgba(0, 0, 255, .2);
    /* background: linear-gradient(to right top, #4c2097 50%, #752CEB 100%); */
}


.big-n-bold {
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
    text-shadow:var(--black-primary);
    letter-spacing: 4px;
}
.sub-highlight-text-no-u {
    /* color: var(--text-color-secondary); */
    color: var(--black-primary);
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
}

.highlight-text-no-u {
    color: var(--black-primary);
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    /* background: linear-gradient(to top, #4c2097 50%, #8141e7 100%); */
    /* linear-gradient(to right top, #4c2097 50%, #752CEB 100%); */
  }

  .light-grady{
    background: linear-gradient(to top, #7BC6CC 10%, #b6b2b6 100%);
  }

  #grady{
    background: linear-gradient(to top, #BE93C5 50%, #7BC6CC 100%);
  }

  #company{
    background: linear-gradient(to top, #BE93C5 50%, #7BC6CC 100%);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #f4f4f4;
    /* background: linear-gradient(to top, #BE93C5 50%, #7BC6CC 100%); */
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  a:hover{
    color: #752CEB;
    font-weight: 600;
    transform: scale(4);   
    font-size: 30px;
    transition: all 0.2s;
    
  }

  .form-control{
    border-radius: 8px;
    border-width: 0px 0px 5px 0px; /* top right bottom left */
    background-color: white;
    border-bottom: 1px solid lightgray;

}

.input-group-text{
    border-width: 0px 0px 5px 0px;
    border-bottom: 1px solid lightgray;
}

.form-control-border{
    border-radius: 5px;
    border-width: 5px 5px 5px 5px; /* top right bottom left */
    border:2px solid lightgray;
    padding:20px;
    font-size: 100px;
    text-align: center;
}

.form-control:focus{
    background-color: #F5F5F8;
    border-bottom: 1px solid lightgray;
    border-color: #752CEB;
    box-shadow: none;
    outline: 0 none;
}

.dark-button {
    background-color: #752CEB;
    color: #F4F4FC;
    border-radius: 1.5rem;
    width: 20%;

    font-size: 16px;
    padding: 15px;
}

.light-card{
    border-radius: 0.7rem;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 20px .05px rgba(0, 0, 255, .2);
    padding: 5px 20px 15px;
    margin: 10px 0;
}