/* You can add global styles to this file, and also import other style files */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
Temperary color palette
light to dark:
#F0E6FA
#3A159B
#752CEB
#7C749C
#E9E5EE  Shae of white
#190B3D Use instead of black
*/
:root{
    --white-primary:#F4F4FC;
    --background-grey: #F5F5F8;
    --text-color-primary:#752CEB;
    --text-color-secondary:#4c2097;
    --black-primary:#190B3D;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-grey);
    color: var(--black-primary);
}


.portal-spacing {
    padding-top: 180px;
    padding-left:180px;
}

.gen-space{
    margin-top: 5px;
    padding: 5px;
    justify-content: left;
}

.heading-text{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 600;
}

.sub-heading-text{
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.highlight-text {
    font-weight: 600;
}

.body-text{
    font-size: 18px;
    text-decoration: none;
}

.icon{
    font-size: 28px;
    text-decoration: none;
}
.icon-big{
    font-size: 80px;
    text-decoration: none;
}
.icon.icon-space{
    margin-left: 20px;
}

.body-header-space{
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.logo-img{
    width: 25px;
    height: 25px;
}

@media(max-width:767px){
    .portal-spacing {
        padding: 20px;
        margin-top: 120px;
    }
    .heading-text{
        font-size: 18px;
    }
    .sub-heading-text{
        font-size: 16px;
    }
    .body-text{
        font-size: 14px;
    }
}


.circle-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 20px .05px rgba(0, 0, 255, .2);
    /* background: linear-gradient(to right top, #4c2097 50%, #752CEB 100%); */
}


.big-n-bold {
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
    text-shadow:var(--black-primary);
    letter-spacing: 4px;
}
.sub-highlight-text-no-u {
    /* color: var(--text-color-secondary); */
    color: var(--black-primary);
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
}

.highlight-text-no-u {
    color: var(--black-primary);
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 600;
}